<!DOCTYPE html>
<html>

<head>
    <title>CC-Conero</title>
</head>

<link rel="stylesheet" href="style.css" />


<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <button onclick="openmenu()">
                    &#9776;
                </button>
                <a href="index.html">CC-Conero</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>

        <!--
           <aside id="sidebar">
               <h3>Shopping Categories</h3> 
               <ul>
                   <li><a href='index.html'>Pants</a></li>
                   <li><a href='index.html'>Shirts</a></li>
               </ul>
            </aside> */-->



        <aside class="sidebar">
            <h3> Shopping Categories </h3>
            <button class="sidebar-close-button" onclick="closeMenu()">x</button>
            <ul>
                <li>
                    <a href="index.html">Pants</a>
                </li>
                <li>
                    <a href="index.html">Shirts</a>
                </li>
            </ul>
        </aside>

        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="product-image" src="./images/a1.jpg" alt="prodotti">
                            <div class="product-name">
                                <a href="product.html">Maglietta nera palma</a>
                            </div>
                            <div class="product-brand">Mike</div>
                            <div class="product-price">50$</div>
                            <div class="product-rating">4.5 Stars (10 rewiwes)</div>

                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="./images/a2.jpg" alt="prodotti">
                            <div class="product-name">
                                <a href="product.html">Maglietta nera rondine</a>
                            </div>
                            <div class="product-brand">Abibas</div>
                            <div class="product-price">40$</div>
                            <div class="product-rating">4.0 Stars (13 rewiwes)</div>

                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="./images/a3.jpg" alt="prodotti">
                            <div class="product-name">
                                <a href="product.html">Canotta nera rondine</a>
                            </div>
                            <div class="product-brand">Lacaste</div>
                            <div class="product-price">35$</div>
                            <div class="product-rating">4.5 Stars (8 rewiwes)</div>

                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="./images/a4.jpg" alt="prodotti">
                            <div class="product-name">
                                <a href="product.html">Maglietta nera semplice</a>
                            </div>
                            <div class="product-brand">Guddi</div>
                            <div class="product-price">20$</div>
                            <div class="product-rating">5 Stars (22 rewiwes)</div>

                        </div>
                    </li>
                </ul>
            </div>

        </main>
        <footer class="footer">
            Tutti i diritti sono pizze
        </footer>
    </div>

    <script>
        function openMenu(){
            document.querySelector(".sidebar").classList.add("open");
        }

        function closeMenu(){
            document.querySelector(".sidebar").classList.remove("open")
        }
    </script>

</body>





</html>